<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Get With it</title>

    </head>
    <body>
        {{>header}}
        <p>I will tell you how to do the best stuff.</p>
    {{> footer}}
    </body>
</html>