
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>All my things</title>

    </head>
    <body>
        {{>header}}
        <p>Here's where I tell you all about it.</p>
    {{> footer}}
    </body>
</html>